html
  head
    meta(charset='utf8')
    title SuitArt Business Card
    style.
      html, body {
      margin: 0;
      padding: 0;
      font-family: 'Sackers Gothic Std';
      font-weight: 500;
      font-size: 7px;
      background: rgb(241,241,241);
      -webkit-print-color-adjust: exact;
      box-sizing: border-box;
      }
      .page {
      position: relative;
      height: 90mm;
      width: 50mm;
      display: block;
      background: black;
      page-break-after: auto;
      margin: 50px;
      overflow: hidden;
      }
      @media print {
      body {
      background: black;
      }
      .page {
      margin: 0;
      height: 100%;
      width: 100%;
      }
      }
      .page.first {
      border-left: 5px solid green;
      }
      .bottom {
      position: absolute;
      left: 5mm;
      right: 5mm;
      bottom: 5mm;
      }
      .group {
      margin-top: 3mm;
      }
      .line {
      color: white;
      position: relative;
      }
      .center {
      text-align: center;
      }
      .logo {
      position: relative;
      width: 80%;
      left: 10%;
      top: 15%;
      }
  body
    .page
      .bottom
        .line #{name}
        .line #{position}
        .group
          .line p: #{phone}
          .line github: marcbachmann
        .group
          .line #{address}
    .page
      .bottom
        .line.center 8045 z&uuml;rich
|  Contact GitHub API Training Shop Blog About &copy; 2016 GitHub, Inc. Terms Privacy Security Status Help
