doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Pdf Report generator
    #container.col
      p.
        Request: `POST /pdf`, 

        Request body:
        {
            "template" : "standard-report",
            "payload" : {
            }
        }